body {
    color: blue;
}

p {
    font-family: Georgia, "Times new Roman", Times, serif;
    font-size: .75em;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
}

p.important {
    font-size: 1.5em;
    font-weight: 900;
}

h3.bigger {
    font-size: 2.5em;
}

.typewriter {
    font-family: "Courier New", Courier, monospace;
}

.emphasized {
    font-style: italic;
}

.standout {
    color: red;
}

p.spacy {
    letter-spacing: 1em;
    word-spacing: 2em;
    line-height: 2.4em;
}

h3 {
    text-align: center;
}

p.pretty {
    text-align: justify;
}

p.tabbed {
    text-indent: 1.5em;
}

blockquote {
    font-size: .1em;
    color: grey;
    padding: 10em;
}

p.offset {
    margin: 5em 2em 5em .75em;
    margin-left: 7em;
}

.enclosed {
    border: 5px solid pink;
    padding: 10em;
}